<div class="container">
  <h1>MY LIST OF TASK</h1>

  <div class= "task-list">
    <% @tasks.each do |task| %>
      <h4>
        <% if task.completed %>
          <i class='fas fa-check'></i>
        <% end %>
        <%= link_to task.title, task_path(task) %>
        <%= link_to "", task_path(task), method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-trash' %>
      </h4>

  <% end %>

    <%= link_to "Add new task", tasks_new_path,  class: "glyphicons glyphicons-server-new"%>
  </div>

</div>
